// 기본 아이템 설정
%defaultItem {
  display: list-item;
  list-style-type: none;
  width: auto;
  height: 64px;
  margin: 18px 0;
  padding: .5em 1.5em;
  color: #666;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  box-shadow: 1px 1px #999;
  transition: transform .2s linear;
  // &:hover {
  //   transform: scale(1.05);
  // }
}
// 기본 아이템 자식설정
%defaultItemChildren {
  > div {
    display: inline-block;
    position: relative;
  }
  > div:nth-child(1) {
    font-size: 4em;
  }
  > div:nth-child(2) {
    font-size: 2em;
    left: 12px;
    white-space: nowrap;
    text-overflow:ellipsis;
    max-width: 480px;
    overflow: hidden;
    transition: max-width .2s linear;
  }
}

.project {
  width: 600px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
  top: 32px;
  transition: width .2s linear;
  
  .list-item, .group-item {
    @extend %defaultItem;
    @extend %defaultItemChildren;
  }
  .group-item {
    height: auto;
    transform: none !important;
    > div:nth-child(3) {
      .list-item, .expansition-item > div:nth-child(1) {
        > div:nth-child(2) {
          max-width: 440px;
        }
      }
    }
  }
  .expansition-item {
    @extend %defaultItem;
    height: auto;
    transform: none;
    > div {
      display: block;
      position: relative;
    }
    > div:nth-child(1) {
      @extend %defaultItemChildren;
    }
    > div:nth-child(2) {
      margin: 18px 0;

      > div {
        width: auto;
        height: auto;
        min-height: 24px;
        font-size: 1.2em;
        padding: 4px 8px;
        border: 1px solid #ddd;
        border-radius: 8px;
        &.technology {
          display: block;
          > span {
            display: inline-block;
            padding: 3px 6px;
            margin: 3px 6px;
            border-radius: 3px;
            background-color: rgba(128, 128, 255, 0.3);
          }
        }
        &.description {
          display: block;
          > span {
            display: list-item;
            margin: 12px 6px;
            margin-left: 20px;
            list-style-type: lower-roman;
          }
        }
        & + div {
          margin-top: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .project {
    width: 360px;
    > .list-item, .expansition-item > div:nth-child(1) {
      > div:nth-child(2) {
        max-width: 240px;
      }
    }
    .group-item {
      height: auto;
      transform: none !important;
      > div:nth-child(3) {
        .list-item, .expansition-item > div:nth-child(1) {
          > div:nth-child(2) {
            max-width: 200px;
          }
        }
      }
    }
  }
}