.profile {
  position: relative;
  display: inline-block;
  width: 240px;

  div {
    display: inline-block;
  }
  .info {
    display: inline-flex;
    align-content: center;

    .image {
      width: 64px;
      height: 85px;
      background-image: url('../images/profile.png');
      background-repeat: no-repeat;
      background-position: center center;
      transition: opacity .2s linear;
    }

    .text {
      padding-left: 18px;
      font-family: 'Roboto Mono', monospace;
      color: #6666ff;

      .p:nth-child(1) {
        font-size: 18px;
      }

      p:nth-child(2) {
        font-size: 14px;
      }
    }
  }
  .buttons {
    display: block;
    margin-top: 8px;
  }
}

.title {
  position: relative;
  display: inline-block;
  left: 60px;
  
  h1 {
    color: #6666ff;
    font-family: 'Sunflower', sans-serif;
  }

  &::after {
    content: '\00a0';
    position: absolute;
    margin-left: 12px;
    width: 212px;
    height: 8px;
    background-color: #6666ff;
    opacity: .8;
  }
}

@media screen and (max-width:1280px) {
  .profile {
    width: 176px;
    .info {
      .image {
        opacity: 0;
        width: 0;
      }
    }
  }

  .title {
    left: 30px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    width: 240px;
    left: 30px;
    .info {
      .image {
        opacity: 1;
        width: 64px;
      }
    }
  }
}