.profile {
  position: relative;
  display: inline-block;
  width: 240px;
  animation: moveLeftProfile .5s linear forwards;

  div {
    display: inline-block;
  }
  .info {
    display: inline-flex;
    align-content: center;

    .image {
      width: 64px;
      height: 85px;
      background-image: url('../../resources/mainHeader/images/profile_x64.png');
      background-repeat: no-repeat;
      background-position: center center;
      transition: opacity .2s linear;
    }

    .text {
      padding-left: 18px;
      font-family: 'Roboto Mono', monospace;
      color: #6666ff;

      .p:nth-child(1) {
        font-size: 18px;
      }

      p:nth-child(2) {
        font-size: 14px;
      }
    }
  }
  .buttons {
    display: block;
    margin-top: 8px;
  }
}

.title {
  position: relative;
  display: inline-block;
  left: 60px;
  animation: moveRightTitle .5s linear forwards;

  h1 {
    color: #6666ff;
    font-family: 'Sunflower', sans-serif;
  }

  &::after {
    content: '\00a0';
    position: absolute;
    margin-left: 12px;
    width: 212px;
    height: 8px;
    background-color: #6666ff;
    opacity: .8;
  }
}

/* Title 좌측 이동 */
@keyframes moveLeftTitle {
  from {
    transform: none;
  }

  35% {
    transform: translateX(-191px);
  }

  65% {
    transform: translateX(-161px);
  }

  to {
    transform: translateX(-176px);
  }
}

/* Title 좌측 이동 */
@keyframes moveRightTitle {
  from {
    transform: translateX(-176px);
  }

  35% {
    transform: translateX(15px);
  }

  65% {
    transform: translateX(-15px);
  }

  to {
    transform: none;
  }
}

/* profile 좌측 이동 */
@keyframes moveLeftProfile {
  from {
    transform: translateX(calc(100vw - 200px));
  }

  30% {
    transform: translateX(-15px);
  }

  60% {
    transform: translateX(15px);
  }

  to {
    transform: none;
  }
}

/* profile 우측 이동 */
@keyframes moveRightProfile {
  from {
    transform: none;
  }

  30% {
    transform: translateX(calc(100vw - 185px));
  }

  60% {
    transform: translateX(calc(100vw - 215px));
  }

  to {
    transform: translateX(calc(100vw - 200px));
  }
}

@media screen and (max-width:1280px) {
  .profile {
    width: 176px;
    animation: moveRightProfile .5s linear forwards;
    .info {
      .image {
        opacity: 0;
        width: 0;
      }
    }
  }

  .title {
    left: 30px;
    animation: moveLeftTitle .5s linear forwards;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    width: 240px;
    top: 78px;
    left: 30px;
    animation: none;
    transform: none;
    .info {
      .image {
        opacity: 1;
        width: 64px;
      }
    }
  }

  .title {
    animation: none;
    transform: none;
    top: -151px
  }
}