.frame {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 600px;
  height: calc(100% - 32px);
}

@media screen and (max-width:1280px), (max-height:800px) {
  .frame {
    position: relative;
  }
}