.MainContent {
  position: relative;
  width: 100%;
  height: calc(100% - 215px);
  margin: 0 auto;
}

.frame {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 600px;
  height: calc(100% - 32px);
}

.frame-enter {
  position: absolute;
  opacity: 0;
}
.frame-enter-active {
  opacity: 1;
  transition: opacity .2s;
}
.frame-exit {
  position: absolute;
  opacity: 1;
}
.frame-exit-active {
  opacity: 0;
  transition: opacity .2s;
}

@media screen and (max-width:1280px), (max-height:800px) {
  .frame {
    position: relative;
  }
}

.etc, .future {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5em;
  font-family: 'Sunflower', sans-serif;
  font-weight: bold;
  color: #666666;
}