.MainMenubar {
  position: absolute;
  top: 64px;
  right: 32px;
  width: 240px;
  background-color: #8080ff;
  box-shadow: 1px 1px 2px #999;
  z-index: 999;
  transition: width .2s linear, top .2s linear;
}
.MenuItem {
  position: relative;
  list-style-type: none;
  font-size: 1.5em;
  line-height: 1em;
  color: #fff;
  transition: background-color .2s linear;

  &:hover, &.active {
    background-color: #6666ff;
  }

  &.active::before, &:hover::before {
    content: '\00a0';
    position: absolute;
    width: .3em;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #66b3ff;
  }

  a {
    padding: 1.2em .6em;
    display: block;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    color: #ffffff;
    cursor: pointer;

    svg {
      margin-right: .3em
    }
  }
}
@media screen and (max-width:1280px), (max-height:800px) {
  .MainMenubar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .MenuItem {
    display: inline-block;
    min-width: 33%;
  }
}

@media screen and (max-width: 480px) {
  .MenuItem {
    min-width: 100%;
  }
}