.MainMenubar {
  position: absolute;
  width: 240px;
  background-color: #8080ff;
  box-shadow: 1px 1px 2px #999;
}

.MenuItem {
  position: relative;
  list-style-type: none;
  font-size: 1.5em;
  line-height: 1em;
  color: #fff;
  transition: background-color .2s linear;
}

.MenuItem:hover, .MenuItem.active {
  background-color: #6666ff;
}

.MenuItem.active::before {
  content: '\00a0';
  position: absolute;
  width: .3em;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #66b3ff;
}
.MenuItem > a {
  padding: 1.2em .6em;
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.MenuItem > a > svg {
  margin-right: .3em
}